*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
}


main {
    height: 100%;
    display: grid;
    grid-template-areas: 
    "side-bar header header header header"
    "side-bar main main main ticker"
    ;
    grid-template-columns: max-content repeat(3, minmax(max-content, 1fr)) 1fr;
    grid-template-rows: 50px 1fr;
}

header {
    grid-area: header;
    background-color: aqua;
}

.main-content {
    grid-area: main;
    background-color: antiquewhite;
    display: grid;
}

.main-card-area {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.main-card {
    background-color: azure;
    width: 300px;
    height: 250px;
}

.right-side-ticker-area {
    grid-area: ticker;
    background-color: blue;
}

.side-bar {
    padding: 50px 20px;
    text-align: center;
    font-size: 1.5rem;
    grid-area: side-bar;
    background-color: red;

}

li {
    list-style: none;
}

