@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --main-bg-color: #162038;
    --secondary-bg-color: #1a2a47;
    --accent-green: #26c99f;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    color: aliceblue;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

header,
.side-bar,
.right-side-ticker-area,
.main-cards {
    background-color: var(--secondary-bg-color);
}

main {
    height: 100%;
    display: grid;
    grid-template-areas: 
    "side-bar header header header header"
    "side-bar main main main ticker"
    ;
    grid-template-columns: max-content repeat(3, minmax(max-content, 1fr)) 1fr;
    grid-template-rows: 50px 1fr;
}

header {
    grid-area: header;
}

.main-content {
    grid-area: main;
    display: grid;
}

.main-card-area {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: var(--main-bg-color);
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.main-cards {
    width: 300px;
    height: 250px;
    border-left: 5px solid var(--accent-green);
    border-radius: 3px;
    box-shadow: 7px 8px 12px #1b1c1b;
}

.right-side-ticker-area {
    grid-area: ticker;
}

.side-bar {
    padding: 30px 40px;
    text-align: center;
    font-size: 2rem;
    grid-area: side-bar;

}

ul {
    margin-top: 50px;
}

li {
    display: flex;
    gap: 15px;
    list-style: none;
    line-height: 40px;
    align-items: center;
}


.logo {
    margin-top: 30px;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    letter-spacing: 1px;
}

.fa-gauge-high {
    color: var(--accent-green);
}

li:hover {
    color: var(--accent-green);
    cursor: pointer;
    text-shadow: 7px 8px 12px #1b1c1b;

}


